Source: apt-sources-list
Section: utils
Priority: optional
Maintainer: Dindin Hernawan (Xenta OS) <dindin_hernawan@yahoo.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.7
Homepage: https://github.com/xentaoslinux/apt-sources-list
Vcs-Browser: https://github.com/xentaoslinux/apt-sources-list.git

Package: apt-sources-list
Architecture: all
Depends: 
Description: Paket Konfigurasi Apt untuk Xenta OS Semua Edisi
  Berisi Berkas Berkas apt sources.list bawaan Xenta OS
  Konfigurasi Apt untuk Xenta OS Semua Edisi.

